html {
    background-image: url("https://miro.medium.com/max/2800/1*5y74rECAAcplBa-LkVRlSw.jpeg");
    background-color: lightblue;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

h1 {
    color: lightblue;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    -webkit-text-stroke: 1px black;
    font-size: 3em;
    margin-bottom: 9px;
}

.title {
    color: lightblue;
    font-family: 'Libre Baskerville', serif;
    -webkit-text-stroke: 1px black;
    font-size: 1.5em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
}

button {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    box-shadow: 1px 1px gray;
}

.btn-wrap {
    text-align: center;
    margin-top: 10px;
}

button:hover {
    background-color: lightgray;
}

.card {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 2px 2px gray;
    min-height: 480px;
    max-width: 70%;
    background-color: white;
    position: relative;
}

form,
.questions {
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.score,
.disp-qNum,
.feedback {
    max-width: 50%;
    text-align: center;
    padding: 0px;
}

.score,
.restart {
    position: absolute;
    bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.disp-qNum {
    position: absolute;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.feedback {
    position: absolute;
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.result {
    position: absolute;
    bottom: 170px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 70%;
}

.answer {
    position: absolute;
    bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 16px;
    max-width: 70%;
}

.restart {
    position: absolute;
    bottom: 65px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 16px;
    max-width: 70%;
}

.end-screen {
    position: absolute;
    top: 300px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-weight: 700;
    max-width: 70%;
    color: lightblue;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    -webkit-text-stroke: 1px black;
    font-size: 3em;
}

.feedback {
    font-family: 'Libre Baskerville', serif;
    -webkit-text-stroke: 1px darkgray;
    font-size: 3em;
}

.incorrect {
    color: red;
    font-weight: 800;
    font-size: 1.5em;
}

.correct {
    color: green;
    font-weight: 800;
    font-size: 1.5em;
}

p {
    display: block
}

.result,
.answer {
    text-align: center;
}


/* media queries */


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) {
    h1 {
        font-size: 4.5em;
    }
    .title {
        font-size: 3em;
        margin-top: 5px;
    }
    .questions {
        max-width: 50%;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .card,
    .questions,
    form {
        max-width: 90%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .card {
        max-width: 95%;
        margin-top: 40px;
    }
    h1 {
        font-size: 1.5em;
    }
    .disp-qNum,
    .score,
    .answer,
    form,
    .questions,
    .result {
        max-width: 95%;
    }
    .title {
        font-size: 1em;
        margin-top: 10px;
    }
    .result {
        margin-top: 5px;
    }
}